# OS files
.DS_Store
*.DS_Store
Thumbs.db

# IDE files
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Build artifacts & packages
bin/
obj/
*.tmp
.vercel
# Environment & Settings files
.env
.env.*
!.env.example
appsettings.json
appsettings.*.json
!appsettings.Example.json
!appsettings.example.json

